*{
    font-family: 'Titillium Web', sans-serif;;
}

#footer_container{
    background-color: black;
    color: white;
    width: 101.3%;
    margin-left: -8px;
    margin-right: -6px;
}

#footer1{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    /* border: 1px solid red; */
}
#footer2_head{
    width: 98%;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid white; */
}
#footer2{
    width: 92%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* border: 1px solid red; */
}
#footer3{
    width: 92%;
    margin: auto;
    display: flex;
    margin-top: 25px;
    padding-bottom: 30px;
    justify-content: space-between;
    /* border: 1px solid red; */
}
#social_media_icons{
    display: grid;
    width: 30%;
    grid-template-columns: repeat(5,40px);
    grid-gap: 25px;
}
#social_media_icons > img{
    width: 100%;
}
#vertical_line{
    background-color: #BDBDBD;;
    width: 2px;
    height: 15px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
}
#copy_right{
    display: flex;
    color: #BDBDBD;
    font-size: 14px;
    /* border: 1px solid red; */
}
.copyright_desc{
    padding-top: 10px;
}
#company_info{
    width: 150px;
    height: 150px;
    font-size: 18px;
    /* margin-left: 50px; */
    /* border: 1px solid red; */
}
#porter_logo{
    width: 100%;
    margin-top: 5px;
}
.footer_title{
    font-size: 16px;
    font-weight: 600;
}
.footer_subtitle{
    font-size: 14px;
}
.playstore_logo{
    width: 165px;
    height: 60px;
    margin-bottom: 5px;
}
#logo_desc{
    line-height: 1.5; 
    margin-top: 6px;
    font-size: 18px;
    margin-left: 0px;
}