*{
    font-family: 'Titillium Web', sans-serif;;
}

a{
    text-decoration: none;
    color: #212121;
}

#navbar_container{
    /* border: 1px solid red; */
    width: 101.2%;
    height: 60px;
    margin-left: -8px;
    margin-right: -7px;
    /* margin-top: -5px; */
    display: flex;
    /* position: fixed; */
    background-image: linear-gradient(to right, #2961FE, #5D0DE1);
    /* top: 5px; */
}
#nav_left{
    width: 50%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(48,85,249); */
}
#nav_logo{
    width: 150px;
}
#nav_logo >a> img{
    width: 100%;
    height: 30px;
    margin-left: -30px;
}
#nav_heading{
    color: white;
    font-size: 16px;
    margin-left: -100px;
}
#nav_right{
    width: 50%;
    height: 60px;
    /* background-color: rgb(87,21,228); */
    display: flex;
}
#drive-us{
    display: flex;
    /* width: 60%; */
    margin-left: 200px;
    cursor: pointer;
    /* border: 1px solid red; */
}

#drive-heading{
    width: 110px;
    height: 40px;
    color: rgb(99,17,217);
    align-items: center;
    margin-top: 10px;
    margin-left: -2px;
    padding-left: 20px;
    background-color: rgb(254,223,0);
    /* border: 1px solid red; */
}

#drive-icon{
    width: 32px;
    margin-top: 5px;
    margin-left: -14px;
    position: absolute;
}
#drive_title{
    font-size: 12px;
    font-weight: 550;
    margin-bottom: -10px;
    margin-top: 5px;
    margin-left: 7px;
}
#drive_desc{
    font-size: 10px;
    margin-left: 5px;
}
#contact_info{
    display: flex;
    height: 40px;
    margin-top: 10px;
    align-items: center;
    margin-left: 50px;
    /* border: 1px solid red; */
}
#call-icon{
    width: 25px;
    margin-right: 8px;
}
#join-us{
    height: 38px;
    margin-top: 10px;
    border: 1px solid rgb(254,223,0);
    color: rgb(254,223,0);
    font-size: 15px;
    font-weight: bold;
    padding-right: 7px;
    padding-left: 10px;
    padding-top: -10px;
}
#join-us > p{
    margin-top: 10px;
}
#contact_num{
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#city-code{
    margin-top: 0px;
    color: white;
    font-size: 12px;
}
#navbar_container2{
    /* border: 1px solid red; */
    display: flex;
    /* top: 55px; */
    /* position: relative; */
    width: 101.2%;
    margin-left: -8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#nav2_left{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#nav2_left > div{
    font-size: 13px;
    font-weight: bold;
    color: #212121;
}
#nav2_left > div:nth-child(1){
    margin-left: 30px;
}
.blue_bar{
     /* background-color: blue; */
         width: 100%;
         height: 4px;
         margin-top: -5px;
}
#nav2_right{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}
#nav2_right > p:nth-child(1){
    /* border: 1px solid red; */
    margin-right: 50px;
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #212121;
}
#nav2_right > p:nth-child(2){
    font-size: 13px;
    color: #3a3a3a;
}